.container {

}

.container__visible .backdrop {
  visibility: visible;
  opacity: 1;
}

.container__visible .modal {
  visibility: visible;
  transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  overflow: auto;
}

.backdrop {
  background: rgba(32,42,53,0.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 550;
  visibility: hidden;
  transition: all ease-in-out 260ms;
  opacity: 0;
}

.content {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 551;
}

.modal {
  background: white;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  transform: scale(0.8) translate3d(0, 200px, 0);
  transition: all ease-in-out 260ms;
  opacity: 0;
  align-self: center;
  border-radius: 6px;
  box-shadow: 0 31px 41px 0 rgba(32,42,53,0.2), 0 2px 16px 0 rgba(32,42,54,0.08);
  max-height: calc(100% - (2rem + 5.6rem));
  max-width: calc(100% - 2rem);
  width: 640px;
}

.modalHeader {
  padding: 1rem;
  border-bottom: 1px solid #dfe3e8;
  flex: 0 0 auto;
  display: flex;
}

.modalBody {
  padding: 1rem;
  flex: 1 1 auto;
  overflow-y: auto;
}

.modalFooter {
  flex: 0 0 auto;
  background: #f9fafb;
  padding: 1rem;
  border-top: 1px solid #dfe3e8;
}

.modalClose {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
  color: #3b3b3b;
  text-decoration: none;
}

.modalTitle {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
  flex: 1;
}

.collectionSelector {
  display: flex;
  align-items: center;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
  min-height: 2.85714286em;
}

.collectionItem {
  cursor: pointer;
  flex: 1;
  text-align: center;
  position: relative;
  padding: .92857143em 1.14285714em;
  transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.collectionItem:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34,36,38,.1);
}

.collectionItem:last-child:before {
  display: none;
}

.collectionItem__active {
  background: rgba(0,0,0,.05);
}

.productSelector {
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  border-radius: .28571429rem;
}

.productItem {
  display: flex;
  align-items: center;
}

.productImage {
  width: 120px;
  position: relative;
  margin-right: 25px;
}

.productImage img {
  width: 100%;
}

.productImage img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
